@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;  
  font-family: 'Outfit', sans-serif;
}
:root{
  --colorPrimario: rgb(255, 236, 0);
  --colorSecundario: rgba(0, 0, 0, 0.497);

}
html{
  scroll-behavior: smooth;
}
header{
  top: 0px;
  background-color: black;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}
#header-wrapper{
  height: 90px;
  width: 100%;
}
header img{
  justify-self: flex-end;
}
#header-left{
  height: 100%;
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}
ul{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
li{
  width: 250px;
  height: 30px;
  list-style: none;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}
h1{
  width: 150px;
  color: white;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  cursor:default;
  
}
nav{
  width: 40vw;
  display: flex;
  align-items: center;
  margin-left: 45px;
}
#banner{
  width: 100%;
  height: 80vh;
  position: absolute;
  left: 0px;
}
#banner-container{
  height: 80vh
}
#text-container{
  display: flex;
  position: relative;
  top: 25%;
  z-index: 100;
  flex-direction: column;

}
.text-banner{
  color:var(--colorPrimario);
  z-index: 1000;
  font-size: 4em;
  font-weight: 550;
}
#text-container button{
  background-color: var(--colorPrimario);
  height: 50px;
  width: 200px;
  color:black;
  border-radius: 20px;
  position: relative;
  left: 45%;
  margin: 7px;
  font-size: 20px;

}
h3{
  display: inline-block;
  margin: 20px;
  text-align: center;
  font-size: 2.2em;
}
h4{
  font-size: 2em;
  margin: 15px;
}

p{
  color: black;
  font-size: 1.7em;
}
#cat-container{
  display: flex;
  justify-content: space-around;
  width: 99%;
  padding: 20px;
  margin: 0px 10px;
  flex-direction: row;
  height: 500px;
}
#cats{
  background-color:var(--colorPrimario);
  padding: 18px 0px;
}

.cat-card{
  position: relative;
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover

}
button{
  z-index: 6000;
  border: 0px;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  background-color: black;
  font-size: 20px;
  font-weight: 600;
  color: var(--colorPrimario);
  cursor: pointer;
}
#seg-card{
  background-image: url("assets/seguridad.png");
}
#ind-card{
  background-image: url("assets/empresas.jpeg");
}
#merch-card{
  background-image: url("assets/merchandising.jpg");
}

.filter{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
  cursor: pointer;
}
.filter:hover{
  background-color: rgba(0, 0, 0, 0.1);

}
.cat-img{
  width: auto;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
footer h3{
  color: white;
}
#footerMain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  width: 100%;
}
#footerLeft{
  padding: 20px;
  padding-left: 100px;
  width: 40%;
}
#footerLeft p{
  color: white;
  margin: 15px;
  text-align: left;
}
#footerRight{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin: 40px;

}
.icon{
  width: 100px;
  height: 100px;
}
ul{
  background-color: black;
}

#sticky{
  position: fixed;
  bottom: 9%;
  right: 5%;
  width: 80px;
  border-radius: 100%;
}
#cat-section{background-color:var(--colorPrimario);}